fieldset {
    background-color: #e1e1e1;
    max-width: 500px;
    padding: 16px;
    border-radius: 10px;
    border: 1px solid #a3a3a3;

    .legend {
        
        margin-bottom: 0px;
        margin-left: 16px;
    }
}
